.DS_Store
.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
*.idea

data/*
!.gitkeep
*.pyc
brain_spect_classification/*
multi_res_pooling_model/multi_res_random/*
multi_res_pooling_model/graph/*
!.gitkeep
