.DS_Store
.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
*.idea

data/*
!.gitkeep
*.pyc
multi_res_pooling_model/graph/*
multi_res_pooling_model/multi_res_random/*
brain_spect_classification/results/*
results/*
global_pooling_model/graph
global_pooling_model/global_pooling
